include ./module/components
include ./module/base
include ./module/svg
-let dataIndex = [0,1,2,3,4,5,6,7,8,9,10];

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title user
  body
    .wrapper
      .indexContainer
        +sideBar('user')
        .user
          .d-flex.userTopper
            .userSearchBar.font-md
              +components('searchBar',0)
          .userBanner
            //-會員顯示區標題
            each i in dataIndex
              if i === 0
                .userInfo
                  .infoSetting
                    span.font-md 姓名
                  .infoSetting
                    span.font-md 身份
                  .userEmail.infoSetting
                    span.font-md 電子信箱
                  .infoSetting
                    span.font-md 預覽
              else
                div(class=` userInfo user-${i}`)
                  .infoSetting
                    span.span-1.font-md 
                  .infoSetting
                    span.span-2.badge.font-md
                  .userEmail.infoSetting
                    span.span-3.font-md
                  .infoSetting
                    .infoBtn(type="button" data-bs-toggle="modal" data-bs-target="#moreBtn" data-bs-whatever="moreBtn")
                      +svgIcon('moreBtn')
            .userInfo.wrongSearch
          //-切換頁標籤
          .row.paginationJs
            nav.Page.navigation
              ul.pagination
                +components('pagination')
          //-更多資訊點擊顯示區塊  
          .modal.fade#moreBtn(moreBtn="-1" aria-labelledby="moreBtnLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false")
            .modal-dialog
              .modal-content
                .modal-header
                  h5.modal-title.font-x 會員資訊
                    .btn.editBtn
                      +svgIcon('editBtn')
                  //-刪除會員
                  button.btn.font-md.delete-modalBtn(type="button" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-bs-whatever="deleteUserModal") 停權
                  +components('delete-modal',0)
                //-中央文字區塊
                .modal-body
                  ul.moreDetailUl
                    //-ID/身份
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg ＩＤ
                      .moreDetailSpace
                        span.moreDetail-1.font-md
                      .moreDetailTag
                        h5.font-lg 身份
                      .moreDetailSpace
                        span.jsEditBefore.moreDetail-2.font-md
                        select.font-md.form-select.jsEditAfter#type(disabled=true)
                          option.input-group-text(value="" ) 請選擇會員籍別
                          option.typeDoctor.input-group-text(value="doctor") 醫師
                          option.typeNormal.input-group-text(value="normal") 民眾
                    //-姓名/性別
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg 姓名
                      .moreDetailSpace
                        span.jsEditBefore.moreDetail-3.font-md
                        input.font-md.nameInput.form-control.jsEditAfter(type="text" placeholder="")
                      .moreDetailTag
                        h5.font-lg 性別
                      .moreDetailSpace
                        span.jsEditBefore.moreDetail-4.font-md
                        select.font-md.form-select.jsEditAfter#gender(required)
                          option.input-group-text 請選擇性別
                          option.genderFemale.input-group-text(value="1") 女性
                          option.genderMale.input-group-text(value="0") 男性
                    .accordion.accordion-flush.w-100.js-hide
                      .accordion-item
                        .accordion-header
                          button.font-lg.btn.accordionBtn.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#doctorDetail")
                            h5.font-lg 醫師資訊
                              svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16")
                                path(d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                        .accordion-collapse.collapse#doctorDetail
                          ul.font-md.accordion-body.doctorDetail.moreDetailUl
                            li.moreDetailLi
                              .moreDetailTag
                                h5.font-lg 院所
                              .moreDetailSpace
                                span.font-md.jsEditBefore.doctorDetail-1
                                input.font-md.hospitalInput.form-control.jsEditAfter(type="text" placeholder="填入所在院所")
                            li.moreDetailLi
                              .moreDetailTag
                                h5.font-lg 主治
                              .moreDetailSpace
                                span.font-md.jsEditBefore.doctorDetail-2
                                input.font-md.professionInput.form-control.jsEditAfter(type="text" placeholder="填入主治項目")
                            li.moreDetailLi
                              .moreDetailTag
                                h5.font-lg 職稱
                              .moreDetailSpace
                                span.font-md.jsEditBefore.doctorDetail-3
                                input.font-md.characterInput.form-control.jsEditAfter(type="text" placeholder="填入職稱")
                    //-email
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg 信箱
                      .moreDetailSpace
                        span.jsEditBefore.moreDetail-5.font-md
                        input.font-md.emailInput.form-control.jsEditAfter#disabledTextInput(type="text" placeholder="" disabled=true)
                    //-密碼
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg 密碼
                      .moreDetailSpace
                        span.moreDetail-6.font-md
                        button.btn.sendPasswordBtn 發送密碼
                    //-最愛的標籤
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg 最愛標籤
                      .moreDetailSpace.font-lg.moreDetailBadge
                        span.badge.moreDetail-7.font-md
                    //-最愛的標籤
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg Point
                      .moreDetailSpace.font-lg
                        span.moreDetail-8.font-md
                    //-更新網站網站讀取確認
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg 更新網站讀取確認
                      .moreDetailSpace
                        span.moreDetail-9.font-md
                    //-帳號狀態
                    li.moreDetailLi
                      .moreDetailTag
                        h5.font-lg 帳號狀態
                      .moreDetailSpace
                        span.moreDetail-10.font-md
                        button.btn.moreDetailBtn.confirmNowBtn 立即驗證
                        button.btn.moreDetailBtn.sendMailBtn 發送驗證信
                    //-發送EDM & 故事卡
                    .moreDetailTool
                      button.btn.moreDetailEdmBtn.font-lg 發送EDM
                      button.btn.moreDetailStoryBtn.font-lg 查看故事卡
                .modal-footer
                  button.btn.jsEditBefore.font-md(data-bs-dismiss="modal") 關閉
                  button.btn.editBtn-cancel.jsEditAfter.font-md(data-bs-dismiss="modal") 取消
                  button.btn.editBtn-sendOut.jsEditAfter.font-md(data-bs-dismiss="modal") 送出
                  //- 331
          
          +components('alertLogoutPopup')