.footer {
  background: #222;
  border-top: 4px solid var(--theme-color);

  .footer-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;
    box-sizing: border-box;

    .footer-logo {
      vertical-align: top;
      display: inline-block;
      width: 76px;
      padding-bottom: 85px;

      @include resolution2xImg((
        img1xPath: '#{$BaseUrl}images/img/smileFace.png',
        img2xPath: '#{$BaseUrl}images/img/smileFace.png'
      )...);
    }

    .footer-main {
      display: inline-block;
      margin-left: 20px;
      .footer-sitemap {
        display: block;
        margin-bottom: 8px;
        li {
          display: inline-block;
          margin-right: 15px;
          a {
            display: inline-block;
            font-size: 15px;
            color: var(--link-color);
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .footer-copyright {
        display: block;
        color: var(--link-color);
        font-size: 12px;
      }
    }
  }
}

@media all and (min-width: 0px) and (max-width: 730px) {
  .footer .footer-content {
    .footer-main {
      width: calc(100% - 86px);
      margin-left: 10px;
    }
    
    .footer-logo {
      width: 70px;
      height: 44px;
    }
  }
}