include ./modules/base
- var topperWords = self.htmlWebpackPlugin.options.data.topper;
- var footerWords = self.htmlWebpackPlugin.options.data.footer;
- var pageWords = self.htmlWebpackPlugin.options.data.base;

+headMeta(pageWords)
  +topper(topperWords, 7)
  //- Main Container
  main.container
    .bot-content
      section.s1
        .sub_title
          span!= '關於我們的理念'
        .s1-block
          .aboutFrame
            span.aboutContent 2020 年夏天，StarkLab開張了！由幾個志同道合的朋友湊在一起，共同研究股票市場並用機器學習來做量化投資，希望透過分享自己長時間的研究成果，創造對程式交易有興趣的投資朋友一起討論成長的園地。股票的英文是stock，音近「史塔克」，因此我們就取名為「史塔克研究室StarkLab」我們深信在這個資訊爆炸的時代，大數據或機器學習這些名詞不該只是個名詞，而是能真正運用在生活中。因此，在這個平台我們不僅推廣機器學習的科普知識，同時也運用Python創造屬於StarkLab自己的投資策略，並且不定時撰寫金融投資相關文章、分析使用AI人工智慧跑出來的個股優劣勢。<br><br>如同華爾街最資深也最成功的經驗老手之一威廉‧歐尼爾（William J.O’Neil）說過：「不要懵懵懂懂的隨意買股票，要在投資前紮實的做一些功課。」投資市場博大精深，若能透過科學方法驗證、不盲目操作，一定會有不同的收穫。<br><br>不管您是投資新手或投資老手，都歡迎追蹤我們、與我們一起討論或給我們建議回饋喲：） <br>  非常歡迎大家來看我們的資訊   也歡迎大家收聽我們Podcast<br><br> <br>  Podcasts:<br> Apple: https://reurl.cc/D63Dz6<br> SoundOn: https://reurl.cc/n0OXad<br>              Spotify :https://reurl.cc/Z71LrA<br> 


  +footer(footerWords)

